<h1>Welcome to the Chat</h1>

<div class="messages" style="height: 300px; overflow-y: scroll;">
  <ul>
    <% @messages.each do |m| %>
    <li><p><%= m.body %></p></li>
    <% end %>
  </ul>
</div>

<%= form_for Message.new, remote: true do |f| %>
<%= f.text_field(:body) %>
<%= f.submit %>
<% end %>

<script>
  $(document).ready(function() {
    function scroll() {
      $(".messages").scrollTop($(".messages")[0].scrollHeight);
    }
    scroll();
    $("#new_message").on("ajax:complete", function(e, data, status, xhr) {
      var message = JSON.parse(data.responseText).message;
      $(".messages ul").append("<li><p>" + message.body + "</p></li>");
      $("#message_body").val("");
      scroll();
    });
  });
</script>
